<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Book_Rental_Actual.Properties.Settings.BookRentalConnectionString"
            connectionString="Data Source=DESKTOP-P39M3QI\SQLEXPRESS;Initial Catalog=BookRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>